include layout
div.aboutHeader 
  h1.aboutTitle About this Scott guy:

h1.aboutInfo Hello and thanks for checking out my site! I'm Scott and I am a full stack web developer. I attended the University of Colorado for my undergraduate degree in environmental studies. Currently, I am three weeks from graduating Galvanize's six month full stack web development program. In this course we primarily use the MEAN stack but instead of Mongo we use Postgres. This program has shown me that I have an aptitude as well as a passion for programming. I enjoy learning and growing my skill set; this was one major reason that programming appeals to me as developers constantly have to adapt to new technologies and environments. Hence, I am looking for a role as a junior developer at a company that will allow me to expand and enhance my skills and knowledge of programming. 

h1.aboutInfo In a past life I was a professional bowler. After college I decided to pursue bowling full time and got a job working at Premier Bowling Supply where I was the assistant warehouse manager. I took this position because it allowed me to travel and compete as much as possible. I worked there for just under two years before deciding that I wanted a career that was slightly more intellectually challenging. I had messed around with C++ in college a little and decided I wanted to get back into it. I heard about Galvanize from a friend and began to learn JavaScript in my free time. It only took a couple weeks before I realized this was what I desired to do for my career and the rest is history. 
