include layout

block content
  div.contactContainer
    div.contactInfo
      a(href="mailto:scottmc526@gmail.com")
        img(src="images/new.png", alt="gmail")
      a(href="https://www.linkedin.com/in/scottmc526")  
        img(src="images/social-1.png", alt="linkedIn")
      a(href="https://github.com/scottmc526")  
        img(src="images/social.png", alt="gitHub")
