include layout

block content
  p.contactInfo Phone: (303) 941-7128
  a.contactInfo(href="mailto:scottmc526@gmail.com")
    p.contactInfo Email: scottmc526@gmail.com
  p.contactInfo gitHub: /scottmc526
  p.contactInfo linkedIn: /in/scottmc526


  
