include layout

div.indexContainer
  div.titlez
    h1.animated.bounce.name Scott Christensen
  div.test    
    p.animated.bounce.indexInfo Killin it with JavaScript, Angular, Node, Express, and Postgres amoung others.
    p.animated.bounce.indexInfo University of Colorado Boulder alumni 
    p.animated.bounce.indexInfo Ex professional Bowler
    p.animated.bounce.indexInfo Fan of climbing rocks
    
    
    
    
    
    //- ul.animated.rollIn
    //-   li.name JavaScript Wizard 
    //-   li.name Node Nerd
    //-   li.name Bowler 
    //-   li.name Rock Climber
