include layout

div.indexContainer
  h1.animated.rollIn.title.name Scott Christensen
  //- img.animated.rollIn.myPic(src="images/me.png", alt="Scott")
  ul.animated.rollIn
    li.name JavaScript Wizard 
    li.name Node Nerd
    li.name Bowler 
    li.name Rock Climber
