include layout

div.indexContainer
  div.titlez
    h1.animated.rollIn.title.name Scott Christensen
  ul.animated.rollIn
    li.name JavaScript Wizard 
    li.name Node Nerd
    li.name Bowler 
    li.name Rock Climber
