include layout

block content
  div.container
    div.header
      h1 Projects: 
    div.project
      div.projPic.col-md-2
        p Outside 4 Adventure
      div.projPic.col-md-4
        img.projPic(src="http://placehold.it/250x150", alt="pic")
      div.projPic.description.col-md-6
        p Bacon ipsum dolor amet prosciutto sausage shank, ham turducken pig shankle tri-tip meatloaf leberkas ribeye. Fatback doner prosciutto landjaeger, swine turducken kielbasa filet mignon bacon short ribs biltong cupim pork belly jerky. Short loin beef ribs drumstick tenderloin shankle frankfurter cow leberkas pork porchetta. Ball tip pork belly turducken shoulder andouille tenderloin pastrami pork loin bresaola bacon drumstick sirloin hamburger brisket shankle. Andouille salami corned beef, ham landjaeger strip steak chicken tri-tip. Pancetta tail meatloaf sirloin turducken, biltong kielbasa.
    div.project
      p project 2  
    div.project
      p project 3  
