extends layout

block content

  h1 About Scott:
  h2 Programmer
  p Graduating galvanize in six weeks.  Excited to continue learning. 
  
  p Rock climber
  p Ex pro bowler
  p GAMER
  p its weird that I don't need to use jade for this anymore. 
  p real world project
