doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header  
    div.head
        a.nav.hvr-back-pulse(href='/home') Home
        a.nav.hvr-back-pulse(href='/about') About
        a.nav.hvr-back-pulse Work With Me
        a.nav.hvr-back-pulse(href='/contact') Contact
        a.nav.hvr-back-pulse Blog
  body
    block content
