doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header  
    div
      h1 Cool Logo
    nav
      a Home
      a About
      a Work With Me
      a Contact
      a Blog
  body
    block content
