include layout

block content
  div.container
    div.header
      h1.header Projects: 
    div.project.topProj
      div.projPic.col-md-2
        p Outside 4 Adventure
      div.projPic.col-md-4
        img.projPic(src="http://placehold.it/250x150", alt="pic")
      div.projPic.description.col-md-6
        p Bacon ipsum dolor amet prosciutto sausage shank, ham turducken pig shankle tri-tip meatloaf leberkas ribeye. Fatback doner prosciutto landjaeger, swine turducken kielbasa filet mignon bacon short ribs biltong cupim pork belly jerky. Short loin beef ribs drumstick tenderloin shankle frankfurter 
    div.project.secondProj
      p project 2  
    div.project.thirdProj
      p.thirdProj project 3 
