
.logo {
  font-size: 20px;
  font-family: 'Audiowide', cursive;
  color: white;
  margin-top: 1%;
}
.title {
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  margin-top: 2.5%;
  justify-content: space-around;
  align-items: flex-start;
}
#navy {
  background-color: #1c506c;
}

.navLink {
  text-decoration: none;
  color: white;
  margin-right: 10%;
  font-size: 15px;
  cursor: grabbing;
  position: relative;
  margin-top: 8%;
}
.navLink:hover {
  color: #a94442;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  height: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  align-self: center;
}
.project {
  border-bottom: 1px solid black;
  width: 100vw;
  height: 30%;
  display: flex;
  overflow-y: scroll;
}
.topProj {
  margin-top: 2%;
  background: #3b4143;
}
.secondProj {
  background-color: #a94442;
}
.thirdProj {
  background-color: #f9f4e9;
  color: black;
}

.projPic {
  align-self: center;
  align-items: center;
  position: sticky;
}
.contactInfo {
  font-family: 'Audiowide', cursive;

}

@media (max-width: 400px) {
  #navy {
    height: 20vh;
    width: 100vw;
  }
}
