@font-face { font-family: forte-line; src: url('Forte-Line.ttf'); }
.logo {
  font-size: 20px;
  font-family: 'Audiowide', cursive;
  color: white;
  margin-top: 1%;
}
.title {
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  margin-top: 2.5%;
  justify-content: space-around;
  align-items: flex-start;
}
#navy {
  background-color: #1c506c;
}

.navLink {
  text-decoration: none;
  color: white;
  margin: 2%;
  font-size: 15px;
  cursor: grabbing;
}
.navLink:hover {
  color: #a94442;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  height: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  align-self: center;
}
.project {
  margin-top: 2%;
  background-color: red;
  width: 90vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
