.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  height: 5vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  align-self: center;
  font-family: 'Audiowide', cursive;
}
.project {
  border-bottom: 1px solid black;
  width: 100vw;
  height: 30%;
  display: flex;
  overflow-y: scroll;
  align-self: center;
}
.topProj {
  margin-top: 2%;
  background: #3b4143;
}
.secondProj {
  background-color: #a94442;
}
.thirdProj {
  background-color: #f9f4e9;
  color: black;
}

.projPic {
  align-self: center;
  align-items: center;
  position: sticky;
}
.contactInfo {
  margin-top: 15%;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.aboutInfo {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
  color: #fff;
  margin: 2%
}
.aboutHeader {
  width: 90vw;
  height: 10vh;
  border-bottom: 2px solid black;
  margin: auto;
}
.aboutTitle {
  font-family: 'Noto Sans', sans-serif;
  vertical-align: middle;
  margin-left: 33%;
  color: #fff;
}
.indexContainer {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-family: 'Noto Sans', serif;
  color: #fff;
}

.myPic {
  height: 25em;
  width: 15em;
}
ul {
  list-style-type:square;
}
.titlez {
  height: auto;
  width: 24%;
  border-bottom: 1px solid #fff;
  margin-right: 5%;
  margin-top: 5%;
}
.contactContainer {
  height: 44vh;
  width: 100vw;
}
.test {
  height: 100%;
  width: 100%;
}

.indexInfo {
  font-family: 'Noto Sans', serif;
  color: #fff;
  padding: 1%;
  margin-left: 25%;
  font-size: 1.1em;
}
p {
  margin: 0;
}
