@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

header {
  text-align: justify;
  letter-spacing: 1px;
  padding: 2em 5%;
  /*background: #1c506c;*/
  color: #fff;
  text-transform: uppercase;
  font-family: 'Audiowide', sans-serif;
}
body {
  height: 100vh;
  background-image: linear-gradient(#1c506c, #aa8625);
}
a {
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  margin-left: 3%;
}
.firstA {
  margin-left: 15%;
}

header > div,
header > div h1,
header nav {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 1.8em;
}

header > div {
  height: 100%;
}

header nav a {
  padding: 0 0.6em;
  white-space: nowrap;
}

header nav a:last-child {
  padding-right: 0;
}
a:hover {
  text-decoration: none;
}
header h1:hover,
header nav a:hover {
  color: #aa8625;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  header {
    height: auto;
  }

  header > div,
  header > div h1,
  header nav {
    height: auto;
    width: auto;
    display: block;
    text-align: center;
  }
}
