@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

header {
  text-align: justify;
  letter-spacing: 1px;
  padding: 2em 5%;
  background: #355e91;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

header > div,
header > div::before,
header > div h1,
header nav {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 1.8em;
}

header > div {
  height: 100%;
}

header > div::before {
  content: '';
  height: 100%;
}

header nav a {
  padding: 0 0.6em;
  white-space: nowrap;
}

header nav a:last-child {
  padding-right: 0;
}

header h1:hover,
header nav a:hover {
  color: #a593a1;
  cursor: all-scroll;
}


@media screen and (max-width: 768px) {
  header {
    height: auto;
  }

  header > div,
  header > div h1,
  header nav {
    height: auto;
    width: auto;
    display: block;
    text-align: center;
  }
}
