@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

.head {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #26d0fa;
}
.nav {
  margin: .5%;
  text-decoration: none;
  font-family: 'Noto Sans';
  text-transform: uppercase;
  color: white;

}

@-webkit-keyframes hvr-back-pulse {
  50% {
    /*background-color: rgba(32, 152, 209, 0.75);*/
    background-color: #26d0fa;
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: #26d0fa;
    /*background-color: rgba(32, 152, 209, 0.75);*/
  }
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  border-radius: 3px;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #e03437;
  background-color: #19248f;
  /*background-color: #19248f;*/
  color: white;
  border-radius: 3px;
}


body {
  margin: 0;
  /*background-color:  #282c34;*/
}
